.divHeader {
  background-color: #3247d5;
  height: 8vh;
  padding: 0px;
}

.dropdownmenu {
  position: absolute;
  display: none;
}

.dropdownmenu.show {
  display: block;
}

.time {
  height: 80%;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 4px;
  width: 17%;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  color: #0C275A;
  margin-top: 2px;
  font-size: 25px;
  padding: 6px;
  font-family: MONOSPACE;
}
.time1{
  margin-top: 8px;
}

.dropdown {
  position: fixed;
  z-index: 999;
  float: right;
  margin-left: 120px;

}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 3px;
  width: 500px;
}


.dropdowncontent h6 {
  color: #3247d5;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  border-Bottom: 1px solid #ccc;
}

.dropdown-content h6:hover {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 24px;
}

.dropdown:hover .dropdowncontent {
  display: block;
  margin-right: 20px;
  padding-right: 20px;
}

.logout {
  background-color: #3247d5;
  border-color: #3247d5;
  color: #fff;
  font-size: 20px;
  border: none;
  box-shadow: none;
  font-weight: 700;
}

.profile {
  text-decoration: none;
}

.notification {
  margin-top: 4px;
  float: left;
  margin-left: 60px;

}