.sidemenu{
    background-color: white;
    color: #6c757d !important;
    width: 100%;
    padding: 2%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.subsidemenu{
    background-color: white;
    color: #6c757d !important;
    width: 100%;
    padding: 4% 4% 4% 8%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}


.sidemenuactive {
    background-color: white;
    color: #3a4be9 !important;
    width: 100%;
    padding: 5%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.sidesubmenu{
    background-color: white;
    color: #6c757d !important;
    width: 100%;
    padding: 5% 5% 5% 15%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
.sidesubmenuactive{
    background-color:white;
    color: #3a4be9 !important;
    width: 100%;
    padding: 5% 5% 5% 15%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.sidesubofsubmenuactive{
    background-color:white;
    color: #3a4be9 !important;
    width: 100%;
    padding: 3% 3% 3% 16%;
    border: none;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
}
.sidesubofsubmenu{
    background-color: white;
    color: #6c757d !important;
    width: 100%;
    padding: 5% 5% 5% 16%;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.sidemenulink{
    color: white;
    text-decoration: none;
}