.btn:focus{
    background: #3247d5;
    color:aliceblue;
}
.btn{
    color: #3247d5;
    border: 1px solid #3247d5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background-color: white;
}