.button{
    font-size: 12px;
    font-weight: 600;
    color: #3247d5;
    text-align: center;
    cursor: pointer;
    transition: color .25s ease-in-out;
    border: 2px solid #3247d5;
}






.reports{
    color: blue;
}
#table {
    width: 90%;
    justify-content: center;
    font-family: Poppins;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 50px;
    font-size: 13px;
}

.tr {
    background-color: #02cfff;
}
.btn {
    background-color: #fff;
    border-color: blue;
    padding: 8px;
    font-size: 15px;
}

.btn:hover {
    background-color: #2E3C4E;
    color: white;
}

.btn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}