.filter{
/* margin-left: -12px; */
/* font-weight: 600; */
}
.mainheader{
    color: #3247d5;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}
.filterdate{
    font-weight: 600;
}