.tabBtn{
    color: #3247d5;
    background: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #3247d5;
    width: 175px;
    height: 40px;
}
.addButton{
    color: #fff;
    background: #3247d5;
    /* font-size: 15px; */
    font-weight: 700;
    /* text-transform: uppercase; */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin-left: 40%;
}